/* Importing Google Font */
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

/* Color Declarations */
$white: #FFFFFF;
$gray: #7F8C8D;
$primary: #FF0053;
$secondary: #E80C53;
$lighter: #D14B3D;

/* Declaring Variables */
$transparent: transparent;

/* Font Properties */
$app-font: Lobster;
$font: Roboto;
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

/* Mixins */
@mixin transition ($seconds) {
    -webkit-transition: all $seconds;
    -moz-transition: all $seconds;
    -ms-transition: all $seconds;
    transition: all $seconds;
}

/* General CSS Properties */
body {
    @include transition(.75s);
    font-family: $font;
    font-weight: $light;
    width: 100%;
    height: 100vh;
}
a:focus,
a:hover {
    text-decoration: none;
}

/* Div Tags CSS */
.col-md-1, .col-md-2, .col-md-3, .col-md-4,
.col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 0;
}
.gradient {
    @include transition(1s);
    height: 100vh;
    background: linear-gradient(90deg, #6D78E0, #A486E0);
}
.gradient-info {
    height: 70px;
    background: rgba(25,25,25,0.2);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.copy-css,
.copy-css:focus,
.btn-color,
.btn-color:focus {
    @include transition(.3s);
    margin: 10px 6px 0;
    padding: 0 20px;
    background: rgba(255,255,255,0.2);
    border-radius: 25px;
    color: $white;
    font: $medium 13px/44px Roboto;
    text-transform: uppercase;
    outline: 0;
    box-shadow: none;
}
.copy-css:hover {
    background: rgba(255,255,255,0.3);
    color: $white;
}
.nav-header {
    background: rgba(25,25,25,0.2);
    height: 70px;
}

/* Button CSS */
.btn-round,
.btn-round:focus {
    @include transition(.5s);
    position: absolute;
    top: 0%;
    right: 0%;
    height: 70px;
    border: none;
    border-radius: 0;
    background: transparent;
    outline: 0;
    color: rgba(255,255,255,0.8);
    padding-right: 30px;
    font: $normal 15px/44px Roboto;
    span {
        @include transition(.5s);
        color: $white;
    }
}
.btn-round:hover {
    span {
        color: $white;
    }
    color: $white;
}
.btn-color,
.btn-color:focus {
    color: $white;
    padding: 0px 25px;
}
.btn-color:hover {
    color: $white;
}
#first {
    background: #6D78E0;
}
#second {
    background: #A486E0;
}

/* Text Properties CSS */
.app-name {
    font-family: $app-font;
    font-size: 30px;
    color: $white;
    padding-left: 20px;
    padding-top: 9px;
}
#username {
    display: inline;
    color: $white;
    font-weight: $medium;
    text-transform: uppercase;
    font-size: 12px;
}
#color-name {
    font: $normal 15px/44px Roboto;
    padding: 15px 0;
    text-align: center;
}
/* Modal CSS */
.modal-dialog {
    width: 32%;
    margin-top: 12%;
}
.modal-content {
    background: $white;
    border-radius: 0px;
    padding: 8px 5px 25px;
    border: none;
    box-shadow: none;
    margin: 15px 0;
    .btn-close,
    .btn-close:focus {
        @include transition(.5s);
        float: right;
        background: rgba(15,15,15,0.7);
        font: $light 16px Roboto;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        line-height: 0;
        padding: 0;
        margin-top: -5px;
        position: relative;
        top: -15px;
        right: -20px;
        color: $white;
        outline: 0;
        box-shadow: none;
    }
    .btn-close:hover {
        background: rgba(15,15,15,0.9);
        color: $white;
    }
    .modal-header {
        border: none;
        h3 {
            font: $light 28px/50px Roboto;
            margin-top: 8px;
            padding: 20px 0 10px;
            line-height: 0;
        }
        p {
            color: #888;
            padding-bottom: 15px;
        }
        pre {
            border: none;
            background: #EEE;
            font: $light 13px consolas;
            line-height: 20px;
            code {
                overflow: auto;
                word-wrap: normal;
                white-space: pre;
                .comment {
                    color: #A486E0;
                }
            }
        }
    }
    .btn-clipboard,
    .btn-clipboard:focus {
        @include transition(.3s);
        text-align: center;
        padding: 0 20px;
        margin: 7px 0;
        background: linear-gradient(90deg, #6D78E0, #A486E0);
        border-radius: 25px;
        color: rgba(255,255,255,0.8);
        font: $medium 13px/44px Roboto;
        text-transform: uppercase;
        outline: 0;
        box-shadow: none;
    }
    .btn-clipboard:hover {
        color: $white;
    }
}
.message-box {
    @include transition(1s);
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(25,25,25,0.4);
    border-radius: 25px;
    padding: 14px 25px;
    display: none;
    #main-message {
        color: $white;
        font-weight: $normal;
    }
}