doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")

        // Favicon and Title
        title Gradientized - Find gradients for your next project
        link(rel='shortcut icon', href='/img/logo.png')

        // META TAGS
        meta(property='og:title', content='Ticker')
        meta(property='og:description', content='Ticker')

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

        // MY CSS FILE
        link(rel='stylesheet', href='/scss/design.css', media="all")
    body
        .col-xs-12
            .col-xs-12.gradient-info
                .col-xs-2
                    p.app-name gradientized
                .col-xs-3
                    button.btn.btn-color#first(data-clipboard-text="#16A085") #16A085
                    button.btn.btn-color#second(data-clipboard-text="#F4D03F") #F4D03F
                .col-xs-5.col-xs-offset-1
                    button.btn.copy-css#copy(data-clipboard-target="#code") Copy CSS Styling
                    a.btn.copy-css(href='https://github.com/NarulaKeshav/gradientized', target='_blank') GitHub
                    button.btn.copy-css#edm EDM
                .col-xs-1.nav-header#next
                    button.btn-round next &nbsp;
                        span.fa.fa-angle-right.fa-lg
            .col-xs-12.gradient#gradient
                .music.stop
                    p Play some EDM, hit <strong>esc</strong> to exit.
        .col-xs-12.card-phone
            img.img-responsive(src='/img/logo-sm.png')
            h2 Uh Oh! ☹️
            p Gradientized is not supported on this screen size. Go on a bigger screen and try!
            a.btn.btn-mb(href='https://github.com/NarulaKeshav/gradientized', target='_blank') GitHub Repo
            br
            a.btn.btn-mb(href='http://narulakeshav.com', target='_blank') My Website
            br
        .message-box#box
            .message#message-parent
                span#main-message Copied!
        .box
            pre#code
                code
                    span.comment /* fallback for older browsers */
                    br
                    span#line_1 background: #A486EO;
                    br
                    br
                    span.comment /* for chrome, safari, ie, firefox */
                    br
                    span#line_2 background: -webkit-linear-gradient(45deg, #6D78E0, #A486E0);
                    br
                    span#line_3 background: linear-gradient(45deg, #6D78E0, #A486E0);

        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js')
        script(src='/js/gradient.js')