doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset="UTF-8")

        // Favicon and Title
        title Gradientized - Find gradients for your next project
        link(rel='shortcut icon', href='/img/logo.png')

        // META TAGS
        meta(property='og:title', content='Ticker')
        meta(property='og:description', content='Ticker')

        // CSS CDNs
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

        // MY CSS FILE
        link(rel='stylesheet', href='/scss/design.css', media="all")
    body
        .col-xs-12
            .col-xs-12.gradient-info
                .col-xs-2
                    p.app-name gradientized
                .col-xs-3
                    button.btn.btn-color#first(data-clipboard-text="#16A085") #16A085
                    button.btn.btn-color#second(data-clipboard-text="#F4D03F") #F4D03F
                .col-xs-5.col-xs-offset-1
                    button.btn.copy-css#copy(data-toggle="modal", data-target="#clipboard") Copy CSS Styling
                    button.btn.copy-css Share
                    button.btn.copy-css GitHub
                    button.btn.copy-css#edm EDM
                .col-xs-1.nav-header#next
                    button.btn-round next &nbsp;
                        span.fa.fa-angle-right.fa-lg
            .col-xs-12.gradient#gradient
        .col-xs-12.card-phone
            img.img-responsive(src='/img/logo-sm.png')
            h2 Uh Oh! ☹️
            p Gradientized is not supported on mobile. Go on a bigger screen and try!
            button.btn.btn-mb GitHub Repo
            br
            button.btn.btn-mb View Projects
            br
            button.btn.btn-mb My Website
            br   
        .modal.fade.modal.fade#clipboard(tabindex='-1', role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        h3 Copy CSS Code
                        p Copy the code and make your project awesome.
                        pre#code
                            code
                                span.comment /* fallback for older browsers */
                                br
                                span#line_1 background: #A486EO;
                                br
                                br
                                span.comment /* for chrome, safari, ie, firefox */
                                br
                                span#line_2 background: -webkit-linear-gradient(45deg, #6D78E0, #A486E0);
                                br
                                span#line_3 background: linear-gradient(45deg, #6D78E0, #A486E0);
                    .col-xs-12(align='center')
                            button.btn.btn-clipboard(data-dismiss='modal', data-clipboard-target="#code")
                                span.fa.fa-clone &nbsp;&nbsp;
                                | Copy to Clipboard
        .message-box#box
            .message#message-parent
                span#main-message Copied!
        audio(id='audio', src='/sleepless.mp3')
        .col-xs-12.music.stop
            p Sleepless by Flume (Click to stop)

        // JAVASCRIPT CDNs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')

        // MY JAVSCRIPT FILE
        script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js')
        script(src='/js/gradient.js')